@font-face {
    font-family: Frijole;
    src: url("assets/frijole.ttf");
}

body {
    background-image: url("assets/silent.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

body.scream {
    background-image: url("assets/scream.png");
}

p {
    position: absolute;
    bottom: 5vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: Frijole;
    font-size: 2rem;
    font-weight: normal;
}

p.waiting {
    display: none;
}